<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Vue Practice</title>
  </head>
  <body>

    <!-- <div id="app">
        <p>Movie: {{ movieTitle }} </p>
        <p>Released: {{ yearReleased }}</p>
        <p>This movie is {{ isMovieOld()}}</p>
        <p>Director: {{ director }}</p>
        <p>Quote: {{ quote }}</p>
        <div v-bind:title="movieTitle">Hover over this text</div>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          movieTitle: 'Tough Guys Dont Dance',
          yearReleased: 1987,
          director: 'Norman Mailer',
          quote: "'Your....knife....is....in....my....dog.'"
        },
        methods: {
          isMovieOld: function() {
            return this.yearReleased < 2000 ? 'old' : 'new';
          }
        }
      });
    </script> -->

    <!-- <div id="app">
      <button v-on:click.once="showDialog">Click Here</button>
      <a href="http://google.com" v-on:click="showDialog" target="_blank">Or here!</a>
    </div>

    <script type="text/javascript">
      var app = new Vue ({
        el: '#app',
        methods: {
          showDialog: function(){
            alert('Hello World!');
          }
        }
      });
    </script> -->

    <div id="app">
      <!-- <p v-if="itemsInStock > 10">{{ itemsInStock }} in stock.</p>
      <p v-else-if="itemsInStock > 0">Hurry up, there are just a few items left!</p>
      <p v-else>Too bad, we're all out!</p>

      <template v-if="itemsInStock > 50">
        <p>Special Offer!</p>
        <p>Looks like we have tons of products in stock... Save 20% if you order now!</p>
      </template> -->
      <h1>Movies</h1>
      <ul>
        <li v-for="title in movieTitles">{{ title }}</li>
      </ul>

      <table border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Company</th>
            <th>Index</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(employee, index) in employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.title }}</td>
            <td>{{ companyName }}</td>
            <td>{{ index }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <script type="text/javascript">
      var app = new Vue ({
        el: '#app',
        data: {
          movieTitles: ['Repo Man', 'Black Marble', 'Cisco Pike'],
          employees: [
            { name: 'Abby', title: 'accountant' },
            { name: 'Andy', title: 'Marketing Manager' },
            { name: 'Brandon', title: 'Cashier' }
          ],
          companyName: 'VueX Ltd.'
          }
      });
    </script>
  </body>
</html>
